/* --- Background --- */

#frame--background {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}

/* --- Frame --- */

#frame {
    height: 25%;
    width: 30%;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 4fr;
    flex-direction: column;
    transition: .3s all;
    overflow: hidden;
    border-radius: 15px;
    background-color: #FFF;
}

/* --- Frame Main --- */

#frame__main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame__description {
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 700;
}

/* --- Icons --- */

.fa-xmark {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: .3s all;
    font-size: 1.3em;
    color: #000;
    cursor: pointer;
}

.fa-xmark:hover {
    transform: translateY(-2px);
}

/* --- Events JS --- */

#frame--background.visible {
    display: flex;
}

#frame.expand {
    animation: expand-frame .3s;
}

#frame__description.help {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

/* --- Key Frames --- */

@keyframes expand-frame {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}